.group35699{
    margin-top: -81.25px;
    margin-left: -654.7056884765625px;
    width: 1652px;
    height: 1316px;
    background: transparent url('./img/Group\ 35699.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.group35624{
    margin-top: 360px;
    margin-left: 81.99px;
    width: 38px;
    height: 47px;
    background: transparent url('./img/Group\ 35624.png') 0% 0% no-repeat padding-box;
    color: #0E77FF;
    opacity: 1;
}

.aboutus{
    margin-top: 355px;
    margin-left: 6px;
    width: 138px;
    height: 47px;
    text-align: left;
    font: normal normal 600 25px/50px Poppins;
    letter-spacing: 0px;
    color: #0E77FF;
    opacity: 1;
}

.headabout{
    margin-top: 8px;
    margin-left: 82px;
    width: 420px;
    height: 56px;
    text-align: left;
    font: normal normal 600 40px/50px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.descripabout{
    margin-top: 42px;
    margin-left: 82.5px;
    width: 585px;
    height: 65px;
    text-align: left;
    font: normal normal normal 22px/32px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.moredescrip{
    margin-top: 28px;
    margin-left: 83px;
    width: 585px;
    height: 166px;
    text-align: left;
    font: normal normal 300 18px/32px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.rectangle1029{
    margin-top: 42px;
    margin-left: 82px;
    width: 239px;
    height: 72px;
    border: 2px solid #0E77FF;
    border-radius: 35px;
    display: flex;
}

.getstartedabout{
    padding-top:19px;
    padding-right: 8.84px;
    padding-left: 42px;
    padding-bottom: 22px;
    width: 173px;
    height: 31px;
    text-align: left;
    font: normal normal normal 25px/31px Muli;
    letter-spacing: 0px;
    color: #0E77FF;
    opacity: 1;
}

.arrow{
    margin-top: 29.92px;
    margin-bottom: 29.86px;
    width: 7px;
    height: 12px;
    background: transparent url('./img/arrow-down-sign-to-navigate.png') 0% 0% no-repeat padding-box;
}

.group35698{
    margin-top: -920px;
    margin-left: 460px;
    width: 718px;
    height: 460px;
    background: transparent url('./img/Group\ 35698.png') 0% 
}

.group35650{
    margin-top: 280px;
    margin-left: 560px;
    width: 560px;
    height: 581px;
    background: transparent url('./img/Group\ 35650.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}